        <footer>
        <div class="page-header">
        </div>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-inline">
              <li class="pull-right"><a href="#top">Nazad na vrh stranice</a></li>
            <li><%= link_to "Početna", '#' %></li>
            <li><%= link_to "Konkursi", '#' %></li>
            <li><%= link_to "Diskusije", '#' %></li>
            <% if false %>
            <li><%= link_to "Moj nalog", '#' %></li>
            <% else %>
            <li><%= link_to "Registrujte se", '#' %></li>
            <% end %>
            <li><%= link_to "Kontakt", '#' %></li>
            </ul>
            <p>Kontakt na <a href="mailto:projekti.in.rs@gmail.com">projekti.in.rs@gmail.com</a>.</p>
            <p><a href="#top">projekti.in.rs </a>© 2014. - 2015.</p>

          </div>
        </div>

      </footer> 