<!DOCTYPE html>
<html>
<head>
  <title>Upitnik</title>
  <%= stylesheet_link_tag    'sandstone', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sandstone', :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %> 
	<div class="container theme-showcase">
		<div class="row">      	
			<%= yield %>
		</div>   
	<%= render 'layouts/footer' %> 
</body>
</html>
